body{
	background: #E3E0E0;
}

.bg-card{
	background: #D8D6D6;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.bg-isa{
  background: #2daae1ff;
}

.bg-dasa{
  background: #ed1b24ff;
  color: white;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}
.header_gral {
   /*position: fixed;
   left: 0;
   top: 0;*/
   width: 100%;
   color: white;
}

.footer_gral {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
}
.header_dasa {
   /*position: fixed;*/
   /*left: 0;
   top: 0;*/
   /*width: 100%;*/
   background-color: #EC3038;/*Rojo*/
   color: white;
   font-weight: bold;
}
.footer_dasa {
   position: bottom;
   /*left: 0;*/
   bottom: 0;
   width: 100%;
   background-color: #EC3038;/*Rojo*/
   color: white;
}

.header_iluminacion {
   /*position: fixed;
   left: 0;
   top: 0;*/
   width: 100%;
   background-color: #2DAAFF;/*Azul*/
   color: white;
   font-weight: bold;
}

.footer_iluminacion {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #99C328; /*Verde*/
   color: white;
}
.header_salinas {
   /*position: fixed;
   left: 0;
   top: 0;
   width: 100%;*/
   background-color: #EA0000;/*Rojo*/
   color: white;
   font-weight: bold;
}

.footer_salinas {
position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000; /*Negro*/
   color: white;
}

.hide-object{
  display: none;
}