body{
  background: #E3E0E0;
}

.bg-card{
  background: #D8D6D6;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.bg-isa{
  background: #2daae1ff;
}

.bg-dasa{
  background: #ed1b24ff;
  color: white;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}
.header_gral {
   /*position: fixed;
   left: 0;
   top: 0;
   width: 100%;*/
   color: white;
}

.footer_gral {
    position: bottom;
   /*left: 0;*/
   bottom: 0;
   width: 100%;
   color: white;
}
.header_dasa {
   /*position: fixed;*/
   /*left: 0;
   top: 0;*/
   /*width: 100%;*/
   background-color: #EC3038;/*Rojo*/
   color: white;
   font-weight: bold;
}
.footer_dasa {
   position: bottom;
   /*left: 0;*/
   bottom: 0;
   width: 100%;
   background-color: #EC3038;/*Rojo*/
   color: white;
}

.header_iluminacion {
   /*position: fixed;
   left: 0;
   top: 0;*/
   width: 100%;
   background-color: #2DAAFF;/*Azul*/
   color: white;
   font-weight: bold;
}

.footer_iluminacion {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #99C328; /*Verde*/
   color: white;
}
.header_salinas {
   /*position: fixed;
   left: 0;
   top: 0;
   width: 100%;*/
   background-color: #EA0000;/*Rojo*/
   color: white;
   font-weight: bold;
}

.footer_salinas {
position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000; /*Negro*/
   color: white;
}

.hide-object{
  display: none;
}

 .sinborde {
    border: 0;
  }


/* CSS Dropdown Menu Multilevel */

  .dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
  font-size:16px; 
  font-weight:normal;
  font-family: 'Lato';
}

.margins{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}