


.tg  {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg td{border-width:1px;font-family:Arial, sans-serif;font-size:12px;overflow:hidden;word-break:normal;}
.tg th{border-width:1px;font-family:Arial, sans-serif;font-size:12px;
  font-weight:normal;overflow:hidden;padding:5px 19px;word-break:normal;}
.tg .tg-empresa{text-align:left;vertical-align:top;padding:0px 0px}
.tg .tg-fecha{background-color:#00B0F0;border-style:solid;border-color:#00B0F0;text-align:center;color:white;vertical-align:top;padding:5px 20px}
.tg .tg-fecha2{background-color:#FFFFFF;border-style:solid;border-color:#00B0F0;text-align:center;color:black;vertical-align:top;padding:5px 20px}
.tg .tg-logo{text-align:left;vertical-align:top}
.tg .tg-obra{background-color:#9CBC5C;border-style:solid;border-color:#9CBC5C;text-align:center;color:white;vertical-align:middle;padding:5px 5px}
.tg .tg-obra2{background-color:#FFFFFF;border-style:solid;border-color:#9CBC5C;text-align:center;vertical-align:middle;padding:5px 5px}
.tg .tg-productos{background-color:#4497DC;border-style:solid;border-color:#4497DC;color:white;text-align:center;vertical-align:top;padding:5px 5px}
.tg .tg-productos2{background-color:#FFFFFF;border-style:solid;border-color:#4497DC;color:black;text-align:center;vertical-align:top;padding:5px 5px}
.tg .tg-subtotal{background-color:#9DC9ED;border-style:solid;border-color:#4497DC;color:black;text-align:right;vertical-align:top;padding:5px 5px}
.tg .tg-iva{background-color:#FFFFFF;border-style:solid;border-color:#4497DC;color:black;text-align:right;vertical-align:top;padding:5px 5px}
.tg .tg-total{background-color:#9DC9ED;border-style:solid;border-color:#4497DC;color:black;text-align:right;vertical-align:top;padding:5px 5px}

.tg .tg-anticipo{background-color:#FFFFFF;border-style:solid;border-color:#92D050;color:black;text-align:left;vertical-align:top;padding:5px 5px}
.tg .tg-anticipo2{background-color:#FFFFFF;color:black;text-align:right;vertical-align:top;padding:5px 10px}
.tg .tg-entrega{background-color:#FFFFFF;border-style:solid;border-color:#92D050;color:black;text-align:center;vertical-align:top;padding:5px 5px}


.tg3 {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg3 td{overflow:hidden;word-break:normal;background-color:#FFFFFF;color:black;text-align:center;vertical-align:top;padding:5px 5px}
.tg3 .td-td2{font-family:Arial, sans-serif;font-size:12px; overflow:hidden;word-break:normal;}

