.tg  {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg td{border-width:1px;font-family:Arial, sans-serif;font-size:12px;overflow:hidden;word-break:normal;}
.tg th{border-width:1px;font-family:Arial, sans-serif;font-size:12px;
  font-weight:normal;overflow:hidden;padding:5px 19px;word-break:normal;}
.tg .tg-baqh{text-align:left;vertical-align:top;padding:0px 0px}
.tg .tg-lqy6{text-align:right;vertical-align:top;padding:0px 0px}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-obra{background-color:#9CBC5C;border-style:solid;border-color:black;text-align:center;vertical-align:top;padding:5px 5px}
.tg .tg-obra2{background-color:#FFFFFF;border-style:solid;border-color:black;text-align:center;vertical-align:top;padding:30px 5px}
.tg .tg-productos{background-color:#4497DC;border-style:solid;border-color:#4497DC;color:white;text-align:center;vertical-align:top;padding:5px 5px}
.tg .tg-productos2{background-color:#FFFFFF;border-style:solid;border-color:#4497DC;color:black;text-align:center;vertical-align:top;padding:10px 5px}
.tg .tg-subtotal{background-color:#9DC9ED;border-style:solid;border-color:#4497DC;color:black;text-align:right;vertical-align:top;padding:10px 5px}
.tg .tg-iva{background-color:#FFFFFF;border-style:solid;border-color:#4497DC;color:black;text-align:right;vertical-align:top;padding:10px 5px}
.tg .tg-total{background-color:#9DC9ED;border-style:solid;border-color:#4497DC;color:black;text-align:right;vertical-align:top;padding:10px 5px}


.tg2 {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg2 .tg-up{border-top-style:solid;border-color:#92D050;border-width:2px;font-family:Arial, sans-serif;font-size:12px;
  overflow:hidden;word-break:normal;}
.tg2 .tg-down{border-bottom-style:solid;border-color:#92D050;border-width:2px;font-family:Arial, sans-serif;font-size:12px;
  overflow:hidden;word-break:normal;}
.tg2 .tg-sides{border-right-style:solid;border-left-style:solid;border-color:#92D050;border-width:2px;font-family:Arial, sans-serif;font-size:12px;
  overflow:hidden;word-break:normal;}
.tg2 td{overflow:hidden;word-break:normal;background-color:#FFFFFF;color:black;text-align:center;vertical-align:top;padding:10px 5px}
.tg2 tr{border-right-style:solid;border-left-style:solid;border-color:#92D050;border-width:2px;font-family:Arial, sans-serif;font-size:12px;
  overflow:hidden;word-break:normal;background-color:#FFFFFF;color:black;text-align:center;vertical-align:top;padding:10px 5px}

.tg3 {border-collapse:collapse;border-spacing:0;width: 100%;}
.tg3 td{overflow:hidden;word-break:normal;background-color:#FFFFFF;color:black;text-align:center;vertical-align:top;padding:5px 5px}
.tg3 .td-td2{font-family:Arial, sans-serif;font-size:12px; overflow:hidden;word-break:normal;}

